<ion-tabs #tabs (ionTabsDidChange)="onTabDidChange(tabs)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="alpha">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
      <ion-label>Alpha</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="bravo">
      <ion-icon name="arrow-up-circle-outline"></ion-icon>
      <ion-label>Bravo</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="charlie">
      <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      <ion-label>Charlie</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
