<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu contentId="main">
      <ion-list lines="none">
        <ion-menu-toggle>
          <ion-item routerLink="/tabs/alpha" [detail]="true">
            <ion-label>
              Alpha
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/tabs/bravo" [detail]="true">
            <ion-label>
              Bravo
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/tabs/charlie" [detail]="true">
            <ion-label>
              Charlie
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/other/delta" [detail]="true">
            <ion-label>
              Delta
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/other/echo" [detail]="true">
            <ion-label>
              Echo
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
